# Dangote Cement Sales & Inventory Data Cleaning
# Tools: Python (Pandas, NumPy)

### Import the necessary Libraries

In [1]:
import numpy as np
import pandas as pd

## Data Cleaning & Transformation

### Step 1. Inspect the dataset

In [7]:
# Upload the dataset from your browser 

sales = pd.read_csv("C:/Users/DELL/Documents/NOVEMBER/Dangote Cement/Dangote_Cement_Sales_2024.csv")
stock = pd.read_csv("C:/Users/DELL/Documents/NOVEMBER/Dangote Cement/Dangote_Cement_Stock_2024.csv")

print(sales.info())
print(sales.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1000 non-null   object
 1   Product         1000 non-null   object
 2   Region          1000 non-null   object
 3   Sales Channel   1000 non-null   object
 4   Unit Price      1000 non-null   float64
 5   Quantity Sold   1000 non-null   int64
 6   Discount        1000 non-null   float64
 7   Revenue         1000 non-null   float64
 8   COGS            1000 non-null   float64
 9   Profit          1000 non-null   float64
 10  Payment Status  1000 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB
None
         Date                           Product  Region Sales Channel  \
0  11/23/2024                 Dangote 3X Cement   Lagos        Online
1  10/29/2024              Dangote 42.5R Cement   Lagos     Wholesale
2  11/28/2024              Dangote 42.5R Cement    Ogun        Retail
3  12/23/2024              Dangote 42.5R Cement  Rivers        Retail
4    7/2/2024  Dangote Sulfate Resistant Cement    Kano        Retail

   Unit Price  Quantity Sold  Discount     Revenue        COGS     Profit  \
0     5775.03            134      0.42   770603.83   547321.00  223282.83
1     5893.70            139      1.52   806772.09   566881.31  239890.78
2     6389.27            434      2.61  2700569.36  2095319.75  605249.62
3     5955.48            410      1.01  2417085.16  1714377.07  702708.09
4     7307.13            393      1.38  2832072.60  2017802.50  814270.10

  Payment Status
0           Paid
1        Pending
2        Pending
3           Paid
4           Cash

In [8]:
print(stock.info())
print(stock.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       262 non-null    object
 1   Open       262 non-null    float64
 2   High       262 non-null    float64
 3   Low        262 non-null    float64
 4   Close      262 non-null    float64
 5   Adj Close  262 non-null    float64
 6   Volume     262 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.5+ KB
None
       Date   Open     High     Low   Close  Adj Close   Volume
0  1/1/2024  356.18  359.27  351.90  356.44     356.44  1508836
1  1/2/2024  352.22  358.47  347.01  347.19     347.19  4566271
2  1/3/2024  353.34  359.39  350.93  352.31     352.31  1200567
3  1/4/2024  354.33  361.02  353.93  360.08     360.08  3437690
4  1/5/2024  357.91  363.64  355.60  360.21     360.21  2923100

### Step 2. Data Cleaning

#### Tasks:
#### Remove duplicates
#### Handle missing values
#### Correct data types (especially dates & numerics)

In [ ]:
# SALES

In [12]:
# Convert dates in sales dataset to normal date format
sales['Date'] = pd.to_datetime(sales['Date'], errors='coerce')
# check if it's perfect
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1000 non-null   datetime64[ns]
 1   Product         1000 non-null   object
 2   Region          1000 non-null   object
 3   Sales Channel   1000 non-null   object
 4   Unit Price      1000 non-null   float64
 5   Quantity Sold   1000 non-null   int64
 6   Discount        1000 non-null   float64
 7   Revenue         1000 non-null   float64
 8   COGS            1000 non-null   float64
 9   Profit          1000 non-null   float64
 10  Payment Status  1000 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 86.1+ KB
None

In [ ]:
# STOCK

In [13]:
# Convert dates in stock dataset to normal date format
stock['Date'] = pd.to_datetime(stock['Date'], errors='coerce')
# check if it's perfect
print(stock.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       262 non-null    datetime64[ns]
 1   Open       262 non-null    float64
 2   High       262 non-null    float64
 3   Low        262 non-null    float64
 4   Close      262 non-null    float64
 5   Adj Close  262 non-null    float64
 6   Volume     262 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 14.5 KB
None

In [14]:
#  REMOVING DUPLICATES, HANDLING MISSING VALUES FROM SALES AND STOCK DATASET

In [15]:
# # Remove duplicates
sales.drop_duplicates(inplace=True)
stock.drop_duplicates(inplace=True)

In [16]:
# # Handle missing values
sales.fillna(0, inplace=True)
stock.fillna(0, inplace=True)

In [ ]:
### Step 3

### Derive metrics (profitmargin)

In [17]:
sales['ProfitMargin'] = (sales['Profit'] / sales['Revenue']) * 100

In [18]:
print(sales.head())

        Date                           Product  Region Sales Channel  \
0 2024-11-23                 Dangote 3X Cement   Lagos        Online
1 2024-10-29              Dangote 42.5R Cement   Lagos     Wholesale
2 2024-11-28              Dangote 42.5R Cement    Ogun        Retail
3 2024-12-23              Dangote 42.5R Cement  Rivers        Retail
4 2024-07-02  Dangote Sulfate Resistant Cement    Kano        Retail

   Unit Price  Quantity Sold  Discount     Revenue        COGS     Profit  \
0     5775.03            134      0.42   770603.83   547321.00  223282.83
1     5893.70            139      1.52   806772.09   566881.31  239890.78
2     6389.27            434      2.61  2700569.36  2095319.75  605249.62
3     5955.48            410      1.01  2417085.16  1714377.07  702708.09
4     7307.13            393      1.38  2832072.60  2017802.50  814270.10

  Payment Status  ProfitMargin
0           Paid     28.975048
1        Pending     29.734640
2        Pending     22.411926
3           Paid     29.072542
4           Cash     28.751738

### Add time columns

In [21]:
sales['Month'] = sales['Date'].dt.month
sales['MonthName'] = sales['Date'].dt.strftime('%b')
sales['Year'] = sales['Date'].dt.year

In [22]:
print(sales.head())

        Date                           Product  Region Sales Channel  \
0 2024-11-23                 Dangote 3X Cement   Lagos        Online
1 2024-10-29              Dangote 42.5R Cement   Lagos     Wholesale
2 2024-11-28              Dangote 42.5R Cement    Ogun        Retail
3 2024-12-23              Dangote 42.5R Cement  Rivers        Retail
4 2024-07-02  Dangote Sulfate Resistant Cement    Kano        Retail

   Unit Price  Quantity Sold  Discount     Revenue        COGS     Profit  \
0     5775.03            134      0.42   770603.83   547321.00  223282.83
1     5893.70            139      1.52   806772.09   566881.31  239890.78
2     6389.27            434      2.61  2700569.36  2095319.75  605249.62
3     5955.48            410      1.01  2417085.16  1714377.07  702708.09
4     7307.13            393      1.38  2832072.60  2017802.50  814270.10

  Payment Status  ProfitMargin  Month MonthName  Year
0           Paid     28.975048     11       Nov  2024
1        Pending     29.734640     10       Oct  2024
2        Pending     22.411926     11       Nov  2024
3           Paid     29.072542     12       Dec  2024
4           Cash     28.751738      7       Jul  2024

### Save the cleaned dataset to a csv file

In [23]:
sales.to_csv('cleaned_sales.csv', index=False)

In [24]:
stock.to_csv('cleaned_stock.csv', index=False)

In [25]:
print('Cleaned dataset ready for use in power bi and sql')

Cleaned dataset ready for use in power bi and sql